#color_blue {
    border: 2px solid #072DA0;
    max-width: 625px;
}

#blue_back {
    background: #072DA0;
}

#blue {
    color: #072DA0;
}

#blue_back:hover {
    background: #287EFF;
}

#color-b {
    color: #072DA0;
}

.hotline p {
    color: #0F1A7C;
}

.text-brand {
    color: #083a86 !important;
}

.footer-list li a:hover {
    color: #b5d2ff !important;
}

.header-style-1 .hotline p {
    color: #0F1A7C !important;
}

.btn {
    background: #072DA0 !important;
}

.btn:hover {
    background: #287EFF !important;
}

.categories-dropdown-wrap ul li:hover {
    border: 1px solid #287EFF !important;
}

.categories-dropdown-wrap ul li a:hover {
    color: #287EFF !important;
}

.main-menu > nav > ul > li > a.active {
    color: #072DA0 !important;
}

a {
    color: #072DA0;
}

.leaflet-map {
    height: 500px !important;
}

.logo.logo-width-1 {
    margin-right: -50px !important;
}

.custom-city {
    width: 170px;
    margin-top: -20px;
}

#custom-btn {
    background: none !important;
    color: #253D4E !important;
}

footer .hotline {
    min-width: 260px !important;
}

/* footer {
    background:  #287EFF;
} */

.footer-mid {
    background:  #287EFF;
}

.custom-back {
    background:  #287EFF;
}

@media (max-width: 768px) {
    .d-none {
        display: block !important;
    }

    .text-end {
        text-align: start !important;
    }

    footer .mobile-social-icon {
        justify-content: start;
    }
}



