{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="main">
    <section class="home-slider position-relative mb-30">
        <div class="container">
            <div class="home-slide-cover mt-30">
                <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                    <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'assets/imgs/slider/slider-1.png' %})">
                        <div class="slider-content">
                            <h1 class="display-2 mb-40">
                                Лучшие условия
                            </h1>
                            <p class="mb-65">Делать бизнес проще — наше дело</p>
                            {% comment %} <form class="form-subcriber d-flex">
                                <input type="email" placeholder="Your emaill address" />
                                <button class="btn" type="submit">Subscribe</button>
                            </form> {% endcomment %}
                        </div>
                    </div>
                    <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'assets/imgs/slider/slider-2.png' %})">
                        <div class="slider-content">
                            <h1 class="display-2 mb-40">
                                Банковские гарантии для<br />
                                любого бизнеса
                            </h1>
                            <p class="mb-65">Наши продукты — наше преимущество</p>
                            {% comment %} <form class="form-subcriber d-flex">
                                <input type="email" placeholder="Your emaill address" />
                                <button class="btn" type="submit">Subscribe</button>
                            </form> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="slider-arrow hero-slider-1-arrow"></div>
            </div>
        </div>
    </section>
    <!--End hero slider-->

    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-12 m-auto">
                <section class="mb-50">
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="contact-from-area padding-20-row-col">
                                <h5 class="text-brand mb-10">Оставить заявку</h5>
                                <h2 class="mb-10">Даем лучшие гарантии</h2>
                                <p class="text-muted mb-30 font-sm">Сможете сразу получать деньги от партнёров и клиентов</p>
                                <form class="contact-form-style mt-30" id="contact-form" action="#" method="post">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="name" placeholder="Имя" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="email" placeholder="Ваш Email" type="email" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="telephone" placeholder="+79991001010" type="tel" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="subject" placeholder="Открыть счет" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            {% comment %} <div class="textarea-style mb-30">
                                                <textarea name="message" placeholder="Сообще"></textarea>
                                            </div> {% endcomment %}
                                            <button class="submit submit-auto-width" type="submit">Получить</button>
                                        </div>
                                    </div>
                                </form>
                                <p class="form-messege"></p>
                            </div>
                        </div>
                        <div class="col-lg-4 pl-50 d-lg-block d-none">
                            <img class="border-radius-15 mt-50" src="{% static "assets/imgs/page/contact-2.png" %}" alt="" />
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>






</main>

{% endblock content %}