{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow" id="blue"><i class="fi-rs-home mr-5"></i>Главная</a>
                    {% comment %} <span></span> Pages <span></span> About us {% endcomment %}
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="row align-items-center mb-50">
                            <div class="col-lg-6">
                                <img src="{% static "assets/imgs/page/about-1.png" %}" alt="" class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4" />
                            </div>
                            <div class="col-lg-6">
                                <div class="pl-25">
                                    <h2 class="mb-30">Добро пожаловать в Модульбанк</h2>
                                    <p class="mb-25">Добро пожаловать в Модульбанк! Мы рады приветствовать вас в нашем сообществе предпринимателей и бизнесменов, где каждый клиент значим для нас. Модульбанк создан для того, чтобы облегчить вам управление финансами и помочь достигать ваших бизнес-целей.</p>
                                    <p class="mb-50">Наш банк предлагает широкий спектр финансовых продуктов и услуг, адаптированных под потребности малого и среднего бизнеса. Независимо от того, нужен ли вам расчетный счет, финансирование проектов или консультации по управлению бизнесом — мы всегда готовы предложить вам профессиональное решение и высокий уровень сервиса.</p>
                                    <div class="carausel-3-columns-cover position-relative">
                                        <div id="carausel-3-columns-arrows"></div>
                                        <div class="carausel-3-columns" id="carausel-3-columns">
                                            <img src="{% static "assets/imgs/page/about-2.png" %}" alt="" />
                                            <img src="{% static "assets/imgs/page/about-3.png" %}" alt="" />
                                            <img src="{% static "assets/imgs/page/about-4.png" %}" alt="" />
                                            <img src="{% static "assets/imgs/page/about-5.png" %}" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="text-center mb-50">
                            <h2 class="title style-3 mb-40">Что мы предоставляем?</h2>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static "assets/imgs/theme/icons/icon-1.svg" %}" alt="" />
                                        <h4>Лучшие цены</h4>
                                        <p>Мы предлагаем конкурентоспособные тарифы и выгодные условия, обеспечивая высокое качество услуг по доступной цене</p>
                                        {% comment %} <a href="#">Read more</a> {% endcomment %}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static "assets/imgs/theme/icons/icon-2.svg" %}" alt="" />
                                        <h4>Широкий ассортимент</h4>
                                        <p>Модульбанк предлагает широкий ассортимент финансовых услуг, включая кредиты и инструменты для бизнеса</p>
                                        {% comment %} <a href="#">Read more</a> {% endcomment %}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static "assets/imgs/theme/icons/icon-3.svg" %}" alt="" />
                                        <h4>Бесплатная доставка</h4>
                                        <p>Мы предлагаем бесплатную доставку банковских карт и документов, чтобы вам было удобно пользоваться нашими услугами</p>
                                        {% comment %} <a href="#">Read more</a> {% endcomment %}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static "assets/imgs/theme/icons/icon-4.svg" %}" alt="" />
                                        <h4>Легкий возврат</h4>
                                        <p>У нас простая и удобная процедура возврата, которая обеспечивает ваше удовлетворение от использования наших продуктов и услуг</p>
                                        {% comment %} <a href="#">Read more</a> {% endcomment %}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static "assets/imgs/theme/icons/icon-5.svg" %}" alt="" />
                                        <h4>100% восторг</h4>
                                        <p>Мы стремимся к тому, чтобы каждый клиент испытывал полное удовлетворение от наших услуг, предлагая индивидуальный подход к каждому</p>
                                        {% comment %} <a href="#">Read more</a> {% endcomment %}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static "assets/imgs/theme/icons/icon-6.svg" %}" alt="" />
                                        <h4>Отличная сделка</h4>
                                        <p>Мы гарантируем отличные условия и прозрачные сделки, чтобы обеспечить вашему бизнесу успех и процветание</p>
                                        {% comment %} <a href="#">Read more</a> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="row align-items-center mb-50">
                            <div class="row mb-50 align-items-center">
                                <div class="col-lg-7 pr-30">
                                    <img src="{% static "assets/imgs/page/about-5.png" %}" alt="" class="mb-md-3 mb-lg-0 mb-sm-4" />
                                </div>
                                <div class="col-lg-5">
                                    {% comment %} <h4 class="mb-20 text-muted">Our performance</h4> {% endcomment %}
                                    <h1 class="heading-1 mb-40">Ваш партнер по коммерции</h1>
                                    <p class="mb-30">Ваш партнер по коммерции Модульбанк предлагает уникальные решения для развития вашего бизнеса. Независимо от того, являетесь ли вы начинающим предпринимателем или опытным владельцем бизнеса, Модульбанк предоставляет инструменты и поддержку, необходимые для успешного ведения коммерческой деятельности.</p>
                                    <p>С помощью удобного интернет-банка и мобильного приложения вы можете управлять финансами в любое время и в любом месте. Специалисты Модульбанка всегда готовы помочь вам оптимизировать налоги, управлять денежными потоками и найти лучшие финансовые решения для вашего бизнеса.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                                    <h3 class="mb-30">Кто мы</h3>
                                    <p>Модульбанк — это инновационный банк для предпринимателей и малого бизнеса.</p>
                                </div>
                                <div class="col-lg-4 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                                    <h3 class="mb-30">Наша история</h3>
                                    <p>С самого начала мы сосредоточились на создании удобных и современных финансовых инструментов. Постоянно совершенствуя наши услуги и технологии, мы стали надежным партнером для тысяч бизнесов по всей стране.</p>
                                </div>
                                <div class="col-lg-4">
                                    <h3 class="mb-30">Наша миссия</h3>
                                    <p>Наша миссия — предоставлять предпринимателям и малому бизнесу доступ к инновационным финансовым решениям. Мы стремимся облегчить ведение бизнеса, предлагая простые и эффективные инструменты для управления финансами.</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <section class="container mb-50 d-none d-md-block">
                <div class="row about-count">
                    <div class="col-lg-1-5 col-md-6 text-center mb-lg-0 mb-md-5">
                        <h1 class="heading-1"><span class="count">15</span>+</h1>
                        <h4>Нам лет</h4>
                    </div>
                    <div class="col-lg-1-5 col-md-6 text-center">
                        <h1 class="heading-1"><span class="count">36</span>+</h1>
                        <h4>Счастливых клиентов</h4>
                    </div>
                    <div class="col-lg-1-5 col-md-6 text-center">
                        <h1 class="heading-1"><span class="count">58</span>+</h1>
                        <h4>Проектов</h4>
                    </div>
                    <div class="col-lg-1-5 col-md-6 text-center">
                        <h1 class="heading-1"><span class="count">24</span>+</h1>
                        <h4>Консультантов</h4>
                    </div>
                    <div class="col-lg-1-5 text-center d-none d-lg-block">
                        <h1 class="heading-1"><span class="count">26</span>+</h1>
                        <h4>Акции</h4>
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="mb-50">
                            <h2 class="title style-3 mb-40 text-center">Наша команда</h2>
                            <div class="row">
                                <div class="col-lg-4 mb-lg-0 mb-md-5 mb-sm-5">
                                    <h6 class="mb-5 text-brand">Наша команда</h6>
                                    <h1 class="mb-30">Наши эксперты</h1>
                                    <p class="mb-30">Модульбанк привлекает высококвалифицированных экспертов для предоставления клиентам качественных финансовых услуг и консультаций. Специалисты банка обладают глубокими знаниями в области финансов, налогообложения и ведения бизнеса, что позволяет им эффективно решать разнообразные задачи клиентов.</p>
                                    <p class="mb-30">Эксперты Модульбанка помогают предпринимателям оптимизировать налогообложение, предоставляют советы по управлению денежными потоками и помогают в выборе оптимальных финансовых инструментов для роста бизнеса. Благодаря постоянному обучению и повышению квалификации, они всегда в курсе последних изменений в законодательстве и новых тенденций в финансовом секторе.</p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-card">
                                                <img src="{% static "assets/imgs/page/about-6.png" %}" alt="" />
                                                {% comment %} <div class="content text-center">
                                                    <h4 class="mb-5">H. Merinda</h4>
                                                    <span>CEO & Co-Founder</span>
                                                    <div class="social-network mt-20">
                                                        <a href="#"><img src="{% static "assets/imgs/theme/icons/icon-facebook-brand.svg" %}" alt="" /></a>
                                                        <a href="#"><img src="{% static "assets/imgs/theme/icons/icon-twitter-brand.svg" %}" alt="" /></a>
                                                        <a href="#"><img src="{% static "assets/imgs/theme/icons/icon-instagram-brand.svg" %}" alt="" /></a>
                                                        <a href="#"><img src="{% static "assets/imgs/theme/icons/icon-youtube-brand.svg" %}" alt="" /></a>
                                                    </div>
                                                </div> {% endcomment %}
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-card">
                                                <img src="{% static "assets/imgs/page/about-8.png" %}" alt="" />
                                                {% comment %} <div class="content text-center">
                                                    <h4 class="mb-5">Dilan Specter</h4>
                                                    <span>Head Engineer</span>
                                                    <div class="social-network mt-20">
                                                        <a href="#"><img src="{% static "assets/imgs/theme/icons/icon-facebook-brand.svg" %}" alt="" /></a>
                                                        <a href="#"><img src="{% static "assets/imgs/theme/icons/icon-twitter-brand.svg" %}" alt="" /></a>
                                                        <a href="#"><img src="{% static "assets/imgs/theme/icons/icon-instagram-brand.svg" %}" alt="" /></a>
                                                        <a href="#"><img src="{% static "assets/imgs/theme/icons/icon-youtube-brand.svg" %}" alt="" /></a>
                                                    </div>
                                                </div> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}